{
  "debug": true,
  "version": "0.1.3",
  "hostname": "",
  "interval": 3,
  "batchsize": 100,
  "details": true,
  "http": {
    "conn_timeout": 5,
    "response_timeout": 5
  },
  "rabbitmq": {
    "host": "",
    "port": 15672,
    "user": "admin",
    "password": "admin"
  },
  "falcon": {
    "api": "http://127.0.0.1:1988/v1/push"
  },
  "ignore_queue": [
    "test",
    "celery"
  ],
  "qrunning": [
    "idle",
    "running"
  ]
}
