{
  "debug": false,
  "hostname": "",
  "interval": 10,
  "batchsize": 100,
  "details": true,
  "enabled": {
    "collect": true,
    "cmdb": true,
    "witch": true,
    "log_rotate": true
  },
  "http": {
    "conn_timeout": 10,
    "response_timeout": 10
  },
  "rabbitmq": {
    "host": "127.0.0.1",
    "port": 15672,
    "user": "admin",
    "password": "admin"
  },
  "falcon": {
    "api": "http://127.0.0.1:1988/v1/push"
  },
  "scheduler": {
    "log_rotate": "0 11 18 ? * 0-6"
  },
  "witch": {
    "listen": ":5671",
    "control": "buildin",
    "service": "",
    "command": "sleep 120",
    "process": "beam",
    "pid_file": "/var/run/witch.pid",
    "auth": {
      "admin": "ADMIN"
    }
  },
  "ignore_queue": [
    "test",
    "celery"
  ],
  "qrunning": [
    "idle",
    "running"
  ]
}
